#foot
	address 
		h4
			img(src='/images/accents/flower-flourish-left.png').flourish 
			| Cynthia A Brown
			img(src='/images/accents/flower-flourish-right.png').flourish 
		a(href='http://www.titaniaann.com', target='_blank') titaniaann.com 
		|  / 
		a(href='http://portfolio.titaniaann.com', target='_blank') portfolio
		|  / 
		a(href='http://blog.titaniaann.com', target='_blank') blog