#contentheader
	h1 
		img(src='/images/accents/flower-flourish-left.png').flourish 
		| The Cards
		img(src='/images/accents/flower-flourish-right.png').flourish
		
#contentmain
	#viewcard
		#cardbook
			canvas#cardpageflip-canvas
			
			
			// #cardpages
			// 	section
			//		img(src='/images/cards/paper1.png')
			//		img(src='/images/cards/ByronLindaBrown/ByronLindaBrown.jpg')
			//	section
			//		img(src='/images/cards/ByronLindaBrown/ByronLindaBrown-1.jpg')
			//		img(src='/images/cards/ByronLindaBrown/ByronLindaBrown-2.jpg')
			//	section
			//		img(src='/images/cards/ByronLindaBrown/ByronLindaBrown-3.jpg')
			//		img(src='/images/cards/paper.png')
						
		script(type='text/javascript', src='/javascripts/cardflip.js')
	
	#allcards
		