#cardbook
	background-image url('/images/cards/book.png')
	background-position center
	background-repeat no-repeat
	background-size 622px 414px
	width 600px
	height 400px
	padding 7px 11px;
	margin 0px auto 30px auto
	
#cardpages section
	//background url('/images/cards/paper.png') no-repeat
	display block
	//width 285px
	width 580px
	height 380px
	position absolute
	//left 567px
	left 282px
	top 455px
	overflow hidden

#cardpages section>img
	display inline-block
	width 285px
	height 380px

#cardpages img
	//float left
	width 285px
	height 380px
	display inline-block
	
#cardpageflip-canvas
	//margin 30px
	z-index 100