@font-face
	font-family Regency
	font-style normal
	src url(/fonts/RegencyScriptFLF.ttf)

// Header variables
hd-bg-color = rgb(136, 170, 233)
hd-bg-color-trans = rgba(136, 170, 233, 0.6)

// Security variables
st-width = 150px
st-bg-color = rgb(196, 211, 190)
st-bg-color-trans = rgba(196, 211, 190, 0.8)
st-lnk-bg-color = rgb(196, 211, 190)
st-lnk-bg-color-trans = rgba(196, 211, 190, 0.8)

// Footer variables
ft-bg-color = rgb(214, 222, 225)
ft-bg-color-trans = rgba(214, 222, 225, 0.6)

header
	display block
	background hd-bg-color
	background hd-bg-color-trans
	padding 15px
	border-top-right-radius 15px
	border-top-left-radius 15px
	
header h1


footer
	clear both
	padding 15px
	
#foot
	padding 15px
	display block
	background ft-bg-color
	background ft-bg-color-trans
	border-radius 15px
	
footer address
	text-align center
	margin-left auto
	margin-right auto

footer h4
	margin 2px
	font-size 30px
	font-family Regency

footer img
	vertical-align sub
	
nav#security
	display block
	width st-width
	position absolute
	top 0px
	right 0px
	
#security ul
	padding 5px
	display block
	background st-bg-color-trans
	border-radius 5px

#security li
	display inline-block
	padding 5px
	margin 5px
	border-radius 5px
	background st-lnk-bg-color




	
	