// Background variables
bg-color = rgb(156, 208, 232)
bg-color-trans = rgba(156, 208, 232, 0.6)
bg-url = url('/images/Yaquina_Bridge_02.jpg')

// Content variables
main-width = 1000px
main-bg-color = rgb(136, 170, 233)
main-bg-color-trans = rgba(136, 170, 233, 0.8)

body
	padding 50px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background rgba(215, 207, 188, 0.6)
  
a
	color #00B7FF
  
#body
	position fixed
	background-color bg-color
	background-color bg-color-trans
	background-image bg-url
	background-repeat no-repeat
	background-position center top
	background-attachment fixed
	width 100%
	height 100%
	top 0px
	left 0px
	right 0px
	bottom 0px
	z-index -1
	opacity 0.65
	
#main
	position relative
	margin 25px auto
	width main-width
	display block
	border-radius 15px
	background main-bg-color
	background main-bg-color-trans
	z-index 1
	
#content
	padding 15px
	display block
	
.flourish
	width 100px
	height auto
